.offer {
  background-color: #192b3f;
  margin: 0.5em 0;
  padding: 0.5em;
  cursor: pointer;
  border-bottom: 1px solid #30baf5;
}

.offer:hover {
  background-color: #2a4769;
  border-bottom: 1px solid #20b6f7;
}
