.province {
  transition: fill 0.35s;
}
.province:hover {
  fill: #0862d8;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0 0 0;
}

.label {
  color: #4495ff;
  height: 2em;
  font-size: 1.3em;
  padding: 0.3em 1em;
  background-color: #303030bc;
  border: 1px solid #94949435;
  text-align: center;
  border-radius: 1em;
  margin: 0 0 1em 0;
}
